/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

/* Your code starts here! */
/**/
body {
	margin: 0 10%;
}
/*Navigation section*/
nav {
	display: flex;
    justify-content: space-between;
}
.links {    
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .links a {
    color: black;
    text-decoration: none;
    padding: 1%;
}

nav .links a:hover {
    color: #081fe9;
}

img.logo {
    padding: 2.5%;
    justify-content: space-around;
    align-items: center;
}
/*End of Navigation section*/
/*Header section begins*/
#header {
	display:flex;
	flex-wrap: wrap;
}
.innovations {
	text-align: center;
	font-size: 65px;
	width: 49%;
	justify-content: space-around;
}

.image2 {
	margin: 2.5% auto;
	justify-content: space-around;
	align-items: center;
}

button {
	margin-bottom: 10%;
	width: 135px;
}

button:hover {
    color: #081fe9;
    background-color: rgb(211, 210, 210);
}
/*End of Header section*/
/*2nd section Features and About*/
h2 {
	text-align: left;	
}
.first-section {
	display:flex;
	flex-wrap: wrap;
}
div.features {
	margin: 2.5% .5%;
	width: 49%;
}    

div.about {
	margin: 2.5% .5%;
	width: 49%;
}
 /*End Second section*/
 /*3rd section MIDDLE IMAGE*/
 .middle-img {
	width: 100%;
	margin: 2.5% auto;
	display: flex;
	align-items: center;
}
 /*Ends Third section middle image*/
 /*4th section contains Services, Product and Vision*/
#bottom-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
 div.services {
	width: 30%;
	margin: 2.5% 1%;
 }

 div.product {
	width: 30%;
	margin: 2.5% .1%;
 }

div.vision {
	 width: 30%;
	 margin: 2.5% 1%;
}	
/*Ends Forth section Services, Product and Vision*/
/*Contact section*/
.contact {
	padding:2px;
	margin: 2px;
}

footer {
	margin: 2.5% 0 5%;
	text-align: center;
}
/*MEDIA QUERIES*/
@media (max-width: 800px) {
    body {
        margin: 3% 0;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .links {
        width: 110%;
        margin:3% 0;
    }        
    div.img { 
        width: 50%;
        align-items: center;
    }
    .image2 {
        display: none;
    }
    .innovations {
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    div.top {
        font-size: 50%;
        color: rgb(148, 144, 144);
        border-bottom: 1px solid black;
    }    
    img.logo { 
        order: -1;       
        width: 50%;
    }
    .innovations {
        text-align: center;
        width: auto;
        justify-content: space-around;
    }
    .image2 {
        display: none;
    }
    .first-section {
        flex-direction: column;
    }
    div.features {
        margin: 7% 0%;
        width: auto;
    }  
    div.about {
        margin: 7% 0;
        width: auto;
    }
    #bottom-section {
        flex-direction: column;
    }
    div.services {
        margin: 7% 0;
        width: auto;
    }
    div.product {
        margin: 7% 0;
        width: auto;
    }
    div.vision {
        margin: 7% 0;
        width: auto;
    }	


}

